[Unit]
Description=p0f - passive OS fingerprint
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/var/run/p0f.pid
ExecStart=/usr/sbin/p0f -f /etc/p0f/p0f.fp -i eth0 -s /tmp/.p0f_socket 
Restart=always
KillMode=process
PrivateTmp=true
StandardOutput=append:/var/log/p0f.log
StandardError=append:/var/log/p0f.error
[Install]
WantedBy=multi-user.target
